:root{
    --light-green-color: #329D23 ;
    --dark-green-color: #234821 ;
    --hover-green-color: #288e0c ;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    color: #222;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 2000vh;
}
.but{
    background-color: var(--light-green-color);
    padding: 15px 40px;
    margin-left: 30px;
    position: relative;
}
.but a{
    color: #fff ;
    text-decoration: none;
    /* to make it's layer above the ::before */
    position: relative;
    border-radius: 6px;
}
.but a i{
    margin-right: 8px;
}
.but::before{
    content: "";
    position: absolute;
    top:0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: var(--hover-green-color);
    transition: 0.3s all ease-in-out;
}
.but:hover::before{
    /* .but::before:hover  ==> wrong , hover on the button not the ::before */
    width: 100%;
}
/* start nav */
.navbar{
    background-color: #fff;
    padding: 18px 50px;
}
/* .nav-bar .navbar-brand a img{
    width: 50px !important;
} */
.navbar .navbar-nav .nav-item{
    margin-right: 30px;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: var(--dark-green-color);
    font-size: 18px;
    padding: 15px;
    position: relative;
    transition: 0.3s all ease-in-out;
}
.navbar .navbar-nav .nav-item .nav-link::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: var(--light-green-color);
    transition: 0.3s all ease-in-out;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: var(--light-green-color);
}
.navbar .navbar-nav .nav-item .nav-link:hover::before{
    width: 100%;
}
.navbar .navbar-nav .nav-item .dropdown-menu{
    background-color: #fff;
    color: #000;
    top: 133%;
}
@media (max-width: 1024px) {
    .but{
        padding: 15px 21px;
    }
    .nav-item{
        margin-right: 15px;
    }
}
@media (max-width:991px) {
    .nav-bar{
        padding: 20px 25px;
    }
    .nav-toggler:focus,
    .navbar-toggler:hover{
        border: 0px;
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler i{
        font-size: 25px;
        color: var(--light-green-color);
    }
    .navbar .navbar-nav .nav-item .nav-link:hover::before{
        width: 0%;
    }
}

/* end nav */



/* start carousel */
.header .carousel-item img{
    filter: brightness(0.6);
    transform: scale(1.5);
}
.header .carousel-item .info{
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    width: 74%;
}
.header .carousel-item .info h1{
    font-size: 80px;
    margin-bottom: 40px;
}

.header .carousel-item .info p{
    font-size: 35px;
    margin-bottom: 20px;
}
.header .carousel-item .info .btn{
    border: 1px solid #fff;
    border-radius: 7px;
    color: #fff;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
}
.header .carousel-item .info .btn i{
    margin-left: 10px;
    transition: 0.3s all ease-in-out;
    font-size: 14px;
}
.header .carousel-item .info .btn:hover i{
    transform: translateX(5px);
}
.header .carousel-control-prev-icon{
    background-image: none;
    position: absolute;
    left: 0px;
}
.header .carousel-control-next-icon{
    position: absolute;
    right: 0px;
    background-image: none;
}
.header .carousel-control-next-icon,
.header .carousel-control-prev-icon{
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 99px;
    background-color: rgba(255, 255, 255, 0.2) ;
    transition: 0.3s all ease-in-out;
}
.header .carousel-control-next-icon:hover,
.header .carousel-control-prev-icon:hover{
    background-color: rgba(255, 255, 255, 1);
    color: #222;
}
.header .carousel-control-next-icon i,
.header .carousel-control-prev-icon i{
    font-size: 20px;
}
@media (max-width: 767px) {
    .header .carousel-item .info h1{
        font-size: 28px;
        margin-bottom: 22px;
    }
    .header .carousel-item .info p{
        font-size: 20px;
    }
    .header .carousel-item .info .btn{
        padding: 10px 21px;
        font-size: 15px;
    }
}
/* end carousel */

/* start years */
.years{
    margin-top: 80px;
}
.years .years-info{
    padding: 15px 45px;
}
.years .years-info h3{
    color: var(--dark-green-color);
    font-size: 55px;
    font-weight: 600;
    line-height: 68px;
    margin-bottom: 20px;
}
.years .years-info p{
    color: #285d25;
    font-size: 18px;
    margin-bottom: 27px;
}
.years .years-info .but{
    margin-left: 0px;
}
@media (max-width: 991px) {
    .years .years-info{
        padding: 16px 0px;
    }
}
@media (max-width: 767px) {
    .years{
        margin-top: 50px;
    }
    .years .years-info{
        padding: 16px 0px;
    }
}
/* end years */